body {
    background-color: rebeccapurple;
    font-family: Helvetica, sans-serif;
    margin: 20px;
}

input[type="number"], input[type="text"] {
    margin: 5px;
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #DF99FC;
    cursor: pointer;
}

button:hover {
    background-color: #D590F1;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #420E58;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #360949;
}

#logo {
    width: 100px;  /* Adjust width as needed */
    height: auto;  /* Keeps the aspect ratio of the image */
}