body {
	background-color: #DFC3E2;
	font-family: Trebuchet MS, sans-serif;
	Margin: 20px;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
}

.person {
    text-align: center; 
    width: 200px;
}

.person img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}

.video-btn {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #AD48B8;
    color: white;
    width: 100%; 
}

.video-btn:hover {
    background-color: #8D3897;
}
